<template>
  <nav
    v-if="structure.nav" 
    :class="className">
    <div class="container">
        <div class="logo"> 
            <input v-model="brand">
        </div>
        <div class="links">
            <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 3</a>
        </div>
    </div>
  </nav>
</template>

<script>
import { mapState } from "vuex";

export default {
    name: "Navigation",
    computed: {
        ...mapState([
            "structure",
        ]),
        className() {
            return {
                'nav_1': this.structure.nav === 'nav_1',
                'nav_2': this.structure.nav === 'nav_2',
                'nav_3': this.structure.nav === 'nav_3',
            };
        }
    },
    data() {
        return {
            brand: "Company"
        }
    },
}
</script>

<style lang="scss" scoped>
@import "../../../assets/css/mixins";

nav {
    height: 50px;
    width: 100%;
    background-color: blue;
    @include flex-center();
    &.nav_1 {
        background-color: red;
        .container {
            justify-content: space-between;
        };
    }
    &.nav_2 {
        .container {
            flex-direction: row-reverse;
            justify-content: space-between;
            .logo {
                > input {
                    text-align: end;
                }
            }
        }
    }
    &.nav_3 {
        .container {
            .links {
                display: none;
            }
        }
    }
}

.container {
    display: flex;
    margin: auto 15%;
    width: 70%;
}

.logo {
    @include flex-center();
    & > input {
        outline: none;
        border: none;
        color: white;
        background-color: transparent;
        font-size: 20px;
    }
}

.links {
    @include flex-center();
}
</style>