<template>
  <div 
    class="example"
    @click="chooseExample"
  >
    <div class="img"> 
      
    </div>
    <div class="name">
        {{ template.name }}
    </div>
    <div class="description">
        {{ template.description }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    template: Object,
  },
  methods: {
    chooseExample() {
      const choice = {
         type: this.template.type,
         value:  this.template.value
      }
      this.$emit("example", choice);
    }
  }
}
</script>

<style lang="scss" scoped>
.example {
  margin: 20px;
  cursor: pointer;
}

.img {
  background-color: #c800fa;
  width: 100%;
  height: 200px;
}
</style>