<template>
    <div class="dynamic">
        <div 
            v-for="(componen, key) in templatesComponents" 
            :key="key"
        >
            <keep-alive>
                <component :is="componen"></component>
            </keep-alive>
        </div>
    </div>
</template>

<script>
import Navigation from "./templates/Navigation.vue";

const templatesComponents = [Navigation]

export default {
        data() {
            return {
                templatesComponents,
            }
        }
};
</script>

<style>

</style>