<template>
  <div class="addition-container">
      <div 
        class="addition"
        @click="openTemplates"
    >
        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-plus fa-w-12">
            <path fill="white" d="M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z" class="">

            </path>
        </svg>
      </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
    name: "ConstructorAddition",
    methods: {
    ...mapMutations([
        "changeTemplatesCloseStatus"
    ]),
    openTemplates() {
        if (!this.teplatesCloseStatus) {
            this.changeTemplatesCloseStatus(true);
        }
    },
  },
  computed: {
    ...mapState([
            "templatesCloseStatus",
    ]),
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/css/mixins";

.addition-container {
    @include flex-center();
    margin: 20px;
}

.addition {
    @include flex-center();
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.addition > svg {
    width: 70%;
    height: 70%;
}
</style>