<template>
    <div class="header">
        <div class="name">
             Templates
        </div>
        <div 
            @click="changeTemplatesCloseStatus(false)"
            class="close"
        >
            <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10">
                <path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class="">
                </path>
            </svg>
        </div>
    </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
    methods: {
        closeTemplates() {
            this.changeTemplatesCloseStatus(false);
        },
        ...mapMutations([
            "changeTemplatesCloseStatus",
        ]),
    }
}
</script>

<style lang="scss" scoped>
@import "../../assets/css/mixins";

.header {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.close {
    @include flex-center();
    height: 100%;
    width: 40px;
    cursor: pointer;
}

.close > svg {
    width: 80%;
    height: 80%;
}

</style>