<template>
    <div 
        class="element"
        @click="choose"
    >
        {{ value }}
        <div 
            v-if="status" 
            class="choice-border"
        >

        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: String,
        status: Boolean,
    },
    methods: {
        choose() {
            this.$emit("choice", this.value);
        },
    },
}
</script>

<style lang="scss" scoped>
.element {
    padding: 20px;
    border-bottom: 1px solid #bababa;
    position: relative;
    transition: 0.4s;
    cursor: pointer;
}

.choice-border {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 100%;
    background-color: #ebc081;
}
</style>