<template>
    <div 
        class="templates-choice" 
        v-if="templatesCloseStatus"
    >
        <div class="templates-container">
            <constructor-header />
            <constructor-templates-names />
            <constructor-templates-examples />
        </div>
    </div>
</template>

<script>
import ConstructorTemplatesNames from "./ConstructorTemplatesNames.vue";
import ConstructorTemplatesExamples from "./ConstructorTemplatesExamples.vue";

import { mapState, } from "vuex";

export default {
    computed: {
        ...mapState([
            "jsonData",
            "templatesCloseStatus",
            "templatesData",
            "templatesChoice",
            "choice",
        ]),
    },
    components: {
        ConstructorTemplatesNames,
        ConstructorTemplatesExamples,
    }
}
</script>

<style>
.templates-choice {
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0, 0, 0, 0);
}

.templates-container {
    position: relative;
}

.choice {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0, 0, 0, 0);
    overflow: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
        width: 0;
  }
}
</style>