<template>
    <div>
        <div 
            v-for="(template, key) in templatesNames"
            :key="key"
        > 
            <constructor-template-name 
                :value="template.value"
                :status="template.status" 
                @choice="makeChoice"
            />
        </div>
    </div>
</template>

<script>
import ConstructorTemplateName from "./ConstructorTemplateName.vue";

import { mapState, mapGetters, mapMutations } from "vuex";

export default {
    components: {
        ConstructorTemplateName,
    },
    methods: {
        makeChoice(choice) {
            this.changeChoice((this.choice === choice) ? "" : choice);
            this.templatesNames.forEach(element => {
                element.status = (element.value === choice && this.choice.length > 0)
            });
        },
        ...mapMutations([
            "changeChoice",
        ])
    },
    computed: {
        templatesNames() {
            const keys = Object.keys(this.templates);
            return Array.from(keys, (x) => {
                return {
                    value: x, 
                    status: false
                }
            });
        },
        ...mapGetters([
            "templates"
        ]),
        ...mapState([
            "choice"
        ]),
    }
}
</script>

<style>

</style>