<template>
    <div 
        class="choice" 
        v-if="choice"
    >
        <div 
            v-for="(template, key) in templatesExamples"
            :key="key"
        > 
            <constructor-template-example 
                :template="template"
                @example="chooseExample"
            />
        </div>
    </div>
</template>

<script>
import ConstructorTemplateExample from "./ConstructorTemplateExample.vue";

import { mapState, mapGetters, mapMutations } from "vuex";
export default {
    components: {
        ConstructorTemplateExample
    },
    methods: {
        ...mapMutations(
            ["changeStructureElement"]
        ),
        chooseExample(choice) {
            this.changeStructureElement(choice);
        }
    },
    computed: {
        templatesExamples() {
            if (!this.choice) {
                return [];
            }
            return this.templates[this.choice];
        },
        ...mapGetters([
            "templates"
        ]),
        ...mapState([
            "choice"
        ]),
    }
}
</script>

<style>

</style>