<template>
    <div class="constructor">
        <constructor-dynamic-templates />
        <constructor-addition />
        <constructor-templates-choice />
    </div>
</template>

<script>
import ConstructorExample from "../components/constructor/ConstructorTemplateExample.vue";
import ConstructorHeader from "../components/constructor/ConstructorHeader.vue";
import ConstructorAddition from "../components/constructor/ConstructorAddition.vue";
import ConstructorDynamicTemplates from "../components/constructor/ConstructorDynamicTemplates.vue";
import ConstructorTemplatesChoice from "../components/constructor/ConstructorTemplatesChoice.vue";

import { mapState, mapMutations } from 'vuex';

export default {
    components: {
        ConstructorExample,
        ConstructorHeader,
        ConstructorAddition,
        ConstructorDynamicTemplates,
        ConstructorTemplatesChoice
    },
    computed: {
        ...mapState([
            "jsonData",
            "templatesCloseStatus",
            "templatesData",
            "templatesChoice",
            "choice",
        ]),
        templates() {
            return this.jsonData.items;
        },
        
    },
    methods: {
        ...mapMutations([
            "changeChoice",
            "changeTemplatesCloseStatus",
            "addTemplatesChoice",
            "changeStructureElement",
        ]),
        makeChoice(choice) {
            this.changeChoice((this.choice === choice) ? "" : choice);
            this.templatesNames.forEach(element => {
                element.status = (element.value === choice && this.choice.length > 0)
            });
        },
        closeTemplates() {
            this.changeTemplatesCloseStatus(false);
        },
        chooseExample(choice) {
            this.changeStructureElement(choice);
        }
    },
}
</script>

<style lang="scss" scoped>

</style>
