<template>
    <div class="layout">
        <div class="container">
            <div class="form-wrapper"> 
                <div class="form">
                    <div class="form-container">
                        <div class="form-title">
                            <h2> Registration </h2>
                        </div>
                        <div class="form-input-container">
                            <input placeholder="Email" class="form-input">
                        </div>
                        <div class="form-input-container"> 
                            <input placeholder="Password" type="password" class="form-input">
                        </div>
                        <div class="form-input-container"> 
                            <input placeholder="Confirm" type="password" class="form-input">
                        </div>
                        <div class="form-button-container">
                            <button class="form-button">
                                Continue
                            </button>
                        </div>
                        <div class="or">
                            OR
                        </div>
                        <div class="form-button-container">
                            <button class="form-button form-button-facebook">
                                Continue with Facebook
                            </button>
                        </div>
                        <div class="form-button-container">
                            <button class=" form-button form-button-google">
                                Continue with Google
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-info">
                    <div class="form-info-element">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur finibus sapien et porta. Sed scelerisque pellentesque sagittis. Morbi malesuada.
                    </div>
                    <div class="form-info-element">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur finibus sapien et porta. Sed scelerisque pellentesque sagittis. Morbi malesuada.
                    </div>
                    <div class="form-info-element">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur finibus sapien et porta. Sed scelerisque pellentesque sagittis. Morbi malesuada.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({

})
</script>

<style scoped lang="scss">
@import "../assets/css/variables";
.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-wrapper {
    padding: 20px;
    width: 550px;
    height: 500px;
    background-color: white;
    box-shadow: $shadow;
    position: relative;

}

.form {
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 25px;
    left: 250px;
    width: 350px;
    height: 450px;
    box-shadow:  $shadow;
}

.form-container {
    width: 80%;
    margin: auto;

}

.form-title {
    text-align: center;
}

.form-input-container .form-input {
    border: 2px solid #efefef;
    outline: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    height: 40px;
}

.form-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
    height: 40px;
}

.or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.form-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.form-info-element {
    width: 40%;
    height: 120px;
}

.form-button-facebook {
    background-color: #1877f2 ;
}

.form-button-google {
    background-color: #efefef ;
    color: black ;
}
</style>